<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878116174886-qmkn2bfa9jv1vpsmpkth84vhtul23u5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878116174886-qmkn2bfa9jv1vpsmpkth84vhtul23u5o</string>
	<key>API_KEY</key>
	<string>AIzaSyABQ8d8CvPddw20NKaJFBz24hAxAUB4f8s</string>
	<key>GCM_SENDER_ID</key>
	<string>878116174886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LT.proyectoFinal</string>
	<key>PROJECT_ID</key>
	<string>cultura-visual-y-sonora-tec21</string>
	<key>STORAGE_BUCKET</key>
	<string>cultura-visual-y-sonora-tec21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878116174886:ios:137aba5177788a1f743ae7</string>
	<key>DATABASE_URL</key>
	<string>https://cultura-visual-y-sonora-tec21.firebaseio.com</string>
</dict>
</plist>